<div class="items-list-container">
  <!-- List header -->
  <ng-content select="[list-header]"></ng-content>

  <!-- Items list -->
  <ul class="items-list list-group container my-3">
    <li *ngFor="let item of itemsList; trackBy: trackByIndex"
        class="list-group-item row list-group-item-action m-0 py-2 px-1 px-md-3"
    >
      <!-- Item -->
      <app-item [item]="item"
                class="col p-0"
                [editable]="isEdit"
                (onOrder)="orderAction($event)"
                (onEdit)="editAction($event)"
      ></app-item>
    </li>
  </ul>

  <!-- List footer -->
  <ng-content select="[list-footer]"></ng-content>
</div>
