<div class="btn-group" ngbRadioGroup name="sortGroup" [(ngModel)]="sortBtn">
    <!-- 'Show all' btn -->
    <label ngbButtonLabel
           class="btn btn-outline-info text-capitalize"
           (click)="showAll($event)"
    >
        <input ngbButton type="radio" [value]="'all'"> Show All
    </label>

    <!-- Labels btn -->
    <label *ngFor="let label of labelsList; let index = index; trackBy: trackByIndex"
           ngbButtonLabel
           class="btn btn-outline-primary text-capitalize"
           (click)="sortHandler($event, label)"
    >
        <input ngbButton type="radio" [value]="index"> {{ label }}
    </label>
</div>
