<div class="item-container d-flex justify-content-between align-items-center">
  <!-- Order btn -->
  <div *ngIf="!editable"
       class="state-icon"
       (click)="orderItem($event)"
  >
    <button type="button" class="btn btn-outline-success fa fa-plus"></button>
  </div>

  <!-- Delete item btn -->
  <button *ngIf="editable"
          class="btn btn-outline-danger fa fa-minus-circle"
          type="button"
          (click)="deleteItem($event)"
  ></button>

  <!-- Item info -->
  <div class="item-name col d-flex justify-content-between">
    <span class="col">
      <span>{{item['name']}}</span> <span *ngIf="item['cnt']">x{{item['cnt']}}</span>
    </span>
    <span class="strong">{{item['price']}}$</span>
  </div>
</div>
