<div class="app-container container my-2">
    <ngb-tabset type="pills">
        <ngb-tab title="Menu">
            <ng-template ngbTabContent>
                <!-- Menu list -->
                <app-items-list [(itemsList)]="visibleMenuList"
                                [sortLabels]="sortLabels"
                                (onOrder)="addToCart($event)"
                >
                    <!-- Menu list footer -->
                    <div class="items-list-footer" list-footer>
                        <app-labels-list *ngIf="sortLabels"
                                         [labelsList]="sortLabels"
                                         [activeLabel]="activeSortLabel"
                                         (onShowAllHandler)="sortByType()"
                                         (onSortHandler)="sortByCategory($event)"
                        ></app-labels-list>
                    </div>
                </app-items-list>
            </ng-template>
        </ngb-tab>

        <ngb-tab title="Cart" [disabled]="userCart.length < 1">
            <ng-template ngbTabContent>
                <!-- Cart list -->
                <app-items-list [(itemsList)]="userCart"
                                [editable]="editable"
                                (onEdit)="deleteFromCart($event)"
                >
                    <!-- Cart list footer -->
                    <div list-footer>
                        <p class="text-right h3">Total price: {{ userCart['total_price'] }}</p>
                    </div>
                </app-items-list>
            </ng-template>
        </ngb-tab>
    </ngb-tabset>
</div>
